<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyungeun.mvc_mvp_mvvm_mvi_demo">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVCMVPMVVMMVIDemo"
        tools:targetApi="31">
        <activity
            android:name=".MVVMResultActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.view.MVPResultActivity"
            android:exported="false" />
        <activity
            android:name=".mvc.controller.MVCResultActivity"
            android:exported="true" />
        <activity
            android:name=".mvc.controller.MVCActivity"
            android:exported="true" />
        <activity
            android:name=".mvi.MVIActivity"
            android:exported="true" />
        <activity
            android:name=".mvp.view.MVPActivity"
            android:exported="true" />
        <activity
            android:name=".mvvm.view.MVVMActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>